body {
    background-image: url(https://aleteiaen.files.wordpress.com/2017/05/web3-planet-earth-space-nasa-space-stars-sun-shutterstock_526255060-shutterstock.jpg?quality=100&strip=all);
    background-size: cover;
    display: block;
    margin: 8px;
}

#header-img {
    width: 0;
}

.box1,
.box2,
.box3 {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: transparent;
    color: #fff;
    font-size: 30px;
    margin: 20px;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 30px;
    height: 300px;
}


.container {
    display: flex;
    justify-content: center;
}

/* p,
ul {
    color: #ffffff;

} */

.nav-link,
label {
    color: green;

}

.logo {
    border-image-width: 2;
    max-width: 90px;
    max-height: 120px;
    padding-left: 1;
}

nav {
    font-weight: 400;

    max-width: 650px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 50px;

    li {
        padding-bottom: 5px;
    }
}

h4,
p,
ul {
    color: black;
}

.g {
    display: flex;
    direction: inherit;
}

#header-img {
    display: flex;
    justify-content: space-around;
    max-width: 23px;
    max-height: 15px;
}

#video {
    justify-content: center;
}