 body {
     background-image: url(https://aleteiaen.files.wordpress.com/2017/05/web3-planet-earth-space-nasa-space-stars-sun-shutterstock_526255060-shutterstock.jpg?quality=100&strip=all);
     background-size: cover;
     display: block;
     margin: 0;
 }

 .menu {
     display: flex;
     justify-content: center;
     width: 100%;
     background-color: black;
     margin: 0;
 }


 .menu-item {
     list-style: none;
     background-color: black;
     border: solid 1px;
     color: white;
     padding: 10px;
     margin-left: 10px;
 }



 .box1,
 .box2,
 .box3 {
     display: flex;
     flex-direction: column;
     width: 350px;
     background-color: yellowgreen;
     color: #fff;
     font-size: 30px;
     margin: 20px;
     padding: 10px;

 }

 form {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     height: 200px;
     margin-top: 50px;
 }


 .sa {
     border: 1px solid #ddd;
     border-radius: 4px;
     padding: 30px;
     height: 300px;
 }


 .container {
     display: flex;
     justify-content: center;
 }





 .logo {

     max-width: 90px;
     max-height: 120px;

 }





 #header-img {
     max-width: 23px;
     max-height: 15px;
 }

 #video {
     justify-content: center;
 }